 .hidden {
      display: flex;
    }
body {
      color: #333;
      background-color: rgb(8, 102, 255);
      cursor: auto;
    }
  .container {
  display: flex;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  border: 2px solid white;
  margin-bottom: 40px;
  margin-top: 40px;
  padding-top:80px ;
}
.description {
    display: block;
}

input[type="submit"],
    button {
      background-color: #0059ff;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"] {
      border: 1px solid #dddddd;
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
    }


    input[type="submit"]:disabled,
    button:disabled {
      background-color: #dddddd;
      color: #000000;
    }


    .section {
      font-size: 15px ;
      /* font-weight:bold; */
      border: 2px;
      border-left: 1px solid white;
    }

    .description {
      font-size: 25px;
    }
    .logout-button{
        background-color: #ddd;
    }

    .sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgb(8, 102, 255);
  margin-top: 40px;
  border-right: 1px solid #d1d1d1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: auto;
  padding-top:80px ;
     }
    .sidebar h2 {
      font-size: 20px;
      margin-bottom: 5px;
    }

    .sidebar table {
      width: 100%;
    }

    .sidebar img {
      width: 100%;
      height: auto;
      display: block;
      margin-bottom: 2px;
      border-radius: 10px;
    }

    .all {
      display: flex;
      column-gap: 20 px;
     
    }

    .image-container img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    #sora {
      width: 100%;
      max-width: 100%;
      height: auto;

    }
    h1:hover,
    h2:hover,
    h3:hover,
    h4:hover,
    h5:hover,
    h6:hover {
      color: rgb(184, 49, 205)
            }
    .sidebar h4 {
      text-align: center;
      margin-top: 0;
    }
    .content {
  flex-grow: 1;
  margin-right: 220px; 
  cursor:default;
}
#sora1,#sora2,#sora3,#sora4,#sora5,#sora6,#sora7,#sora8{
width: 150px;
}
.sidebar button,
.content button {
  cursor: pointer;
}




/* standerization elements */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-transform: capitalize;
    text-decoration: none;
}
/* constents */
:root {
    --mainPadding: 200px;
    --mainColor1: rgb(8, 102, 255);
    
}

/* styling header */

header{
    background-color: rgb(8, 102, 255);
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 20px;
}
header .logo{
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.9em;
    font-weight: 900;
    color: rgb(184, 49, 205)
     }
 
 /* header img{
   height: 80px;
  width: 110px; }  */

nav {
  height: 60px;
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
   
}
nav a{
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 700;
    color: #fafbfb;
    border-bottom: 2px solid transparent;

}

header nav a:hover{
    text-decoration: underline;
    font-size: larger;
}

header .search input{
    
  display: block; 
  width: 250px;
  height: fit-content;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 10px;
 
   
}